$fontRegular: "ManropeRegular";
$fontMedium: "ManropeMedium";
$bg: #ebf0fa;
$colorTitle: rgb(31, 66, 132);
$colorText: rgb(114, 114, 114);
$bgBtn: rgb(36, 76, 152);
$lg: 1440px;
$sm: 768px;
$xs: 375px;
